:root { 
/* VARIABLES */

    /* COLOR */
    --color1: #69dafe;
    --color2: #69faad;
    --color3: #69dada;
    --color4: #69babe;
    --color5: #69beef;

    /* RADIUS*/
    --radius: 20px;
}

body {
    background-color: var(--color1);
}

/* HEADER */
header {
    display: flex;
    flex-flow: column; 
    background-color: var(--color2);
    border-radius: var(--radius);
}

.headline {
    display: flex;
    justify-content: flex-start;
    gap: 50%;
}

#headCV {
    font-size: 3em;
}

#userName {
    margin-top: 2em;
}

#navHeader {
    margin: 0px;
}

nav {
    display: flex;
    flex-flow: column;
    gap: 40px
}

/*MAIN*/
main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

li {
    background-color: var(--color4);
    border-radius: var(--radius);
}   

a {
    text-decoration: none;
    background-color: var(--color5);
    border-radius: var(--radius);
}
.icon {
    height: 20px;
}

figure {
    display: flex;
    background-color: var(--color3);
    border-radius: var(--radius);
}

.thumb {
    height: 80px;
}

@media (max-width: 426px) {
    .headline {
	flex-flow: column;		
    }

    #userName {
    	margin-top: 0px;
    }

    ul {
	flex-flow: column;
	margin: 20px;
	gap: 0px;
	padding-inline-start: 0px;
    }
}

@media (min-width: 800px) {

}
